* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: antiquewhite;
}

.euro {
    border: none;
    height: 25px;
}


